<nav>
  <ul>
    <li><a href="/" title="Home page">Home</a></li>
    <li><a href="#" title="View custom vehicles">Custom</a></li>
    <li><a href="#" title="View sedans">Sedan</a></li>
    <li><a href="#" title="View SUVs">SUV</a></li>
    <li><a href="#" title="View trucks">Truck</a></li>
  </ul>
</nav>